.right {
    padding: 30px 10px 30px 30px;
}

.panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.panel-header img{
    height: 30px;
}
.panel-header img.project-icon{
    height: 20px;
    margin-right: 4px;
    margin-left: 2px;
}

.panel-header h2 {
    font-size: 20px;
    margin: 0 16px 0 5px;
}

.panel-header .other {
    border: 2px dashed #eeeeee;
    flex: 1;
}

.project-title{
    font-weight: 600;
    margin-bottom: 10px;
}

.project-time{
    color:rgb(50,169,150)
}

.item {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.item-left {
    width: 140px;
    margin-right:5px; 
}

.item-right {
    flex: 1;
}
.item-right h3{
    font-weight: 600;
    margin-bottom: 5px;
}

.item-right p{
    line-height: 17px;
    font-size: 14px;
    margin-bottom: 5px;
}