.right {
    padding: 30px 10px 30px 30px;
}

.panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.panel-header h2 {
    font-size: 20px;
    margin: 0 16px;
}

.panel-header .other {
    border: 2px dashed #eeeeee;
    flex: 1;
}

.item {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}

.item-left {
    width: 200px;
    margin-right:5px; 
}

.item-right {
    flex: 1;
}
.item-right h3{
    font-weight: 600;
    margin-bottom: 5px;
}

.item-right p{
    line-height: 16px;
    font-size: 14px;
    margin-bottom: 5px;
}